
source/examples/python/plugins/CoordLister/__init__.pyc
source/examples/python/plugins/CoordLister/__init__.pyc
source/examples/python/plugins/CoordLister/__init__.pyc
source/examples/python/plugins/CoordLister/coord_lister.pyc
source/examples/python/plugins/CoordLister/coord_lister_dialog.pyc
